---
import { type CollectionEntry } from 'astro:content';

type Props = { book: CollectionEntry<'book'>; class?: string; headingLevel?: 'h2' | 'h3' };

const { book, class: className, headingLevel = 'h2' } = Astro.props;
const { title } = book.data;
const TitleTag = headingLevel;
---

<a class:list={['flex justify-between items-start gap-8 group', className]} href={`/book/${book.slug}/`}>
  <div class="grow">
    <TitleTag
      class="text-xl leading-tight font-serif font-medium group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-1 sm:text-2xl"
    >
      {title}
    </TitleTag>
  </div>
</a>
