---
import { marked } from 'marked';
import siteConfig from '../data/site-config';

const hero = siteConfig.hero;
---

{
  (hero?.image?.src || hero?.text) && (
    <section class="w-full flex flex-col gap-8 mb-16 sm:mb-24">
      {hero.image?.src && (
        <figure>
          <img class="w-3/5" src={hero.image.src} loading="lazy" decoding="async" alt={hero.image.alt || ''} />
          {hero.image.caption && <figcaption class="mt-1.5 text-xs sm:text-sm">{hero.image.caption}</figcaption>}
        </figure>
      )}
      {hero.text && <div class="max-w-none font-serif prose prose-dante sm:prose-lg" set:html={marked.parse(hero.text)} />}
    </section>
  )
}
